In [3]:
import pandas as pd
import numpy as np

In [12]:
ser=pd.Series(np.random.randn(10))
df = pd.DataFrame(np.random.randn(10,4))

In [15]:
ser.pct_change()
df.pct_change(periods=8)

          0          1         2         3
0       NaN        NaN       NaN       NaN
1       NaN        NaN       NaN       NaN
2       NaN        NaN       NaN       NaN
3       NaN        NaN       NaN       NaN
4       NaN        NaN       NaN       NaN
5       NaN        NaN       NaN       NaN
6       NaN        NaN       NaN       NaN
7       NaN        NaN       NaN       NaN
8 -0.265948 -42.709461 -0.866020 -0.174981
9 -0.175718  -3.065379 -1.855779 -1.180457

In [25]:
# covariance between the series
s1 = pd.Series(np.random.randn(1000))
s2 = pd.Series(np.random.randn(1000))

In [26]:
s1.cov(s2)

-0.03445056346063971

In [42]:
frame = pd.DataFrame(np.random.randn(1000, 5), columns=['a', 'b', 'c', 'd', 'e'])
frame.cov()

          a         b         c         d         e
a  0.990283 -0.020025 -0.008606 -0.019637 -0.060709
b -0.020025  0.969332 -0.023009  0.011392  0.010477
c -0.008606 -0.023009  1.118004  0.022473 -0.008148
d -0.019637  0.011392  0.022473  1.013293  0.011949
e -0.060709  0.010477 -0.008148  0.011949  1.004393

In [57]:
frame = pd.DataFrame(np.random.randn(20, 3), columns=['a', 'b', 'c'])
frame.cov()

          a         b         c
a  1.911746  0.352619 -0.297780
b  0.352619  0.934329 -0.064802
c -0.297780 -0.064802  1.028807

In [59]:
frame = pd.DataFrame(np.random.randn(20, 4), columns=['a', 'b', 'c','d'])
frame.cov()

          a         b         c         d
a  1.021709  0.056071 -0.136051 -0.091387
b  0.056071  0.876045  0.144736  0.022650
c -0.136051  0.144736  0.546961 -0.046569
d -0.091387  0.022650 -0.046569  1.193274

In [54]:
frame.ix[:4,'a'] = np.nan
frame.cov()

          a         b         c
a  1.151708 -0.013680 -0.079112
b -0.013680  0.937480 -0.036181
c -0.079112 -0.036181  0.538538

In [61]:
frame = pd.DataFrame(np.random.randn(20, 2), columns=['a', 'b'])

In [69]:
frame['a'].corr(frame['b'], method='pearson')

-0.29367203606229419

In [70]:
frame.corr()

          a         b
a  1.000000 -0.293672
b -0.293672  1.000000

In [71]:
index = ['a', 'b', 'c', 'd', 'e']
columns = ['one', 'two', 'three', 'four']
df1 = pd.DataFrame(np.random.randn(5, 4), index=index, columns=columns)
df2 = pd.DataFrame(np.random.randn(4, 4), index=index[:4], columns=columns)

In [72]:
df1

        one       two     three      four
a -0.732611 -0.343670  1.529672  1.034822
b  0.699319 -1.255191  0.513355  0.583562
c -0.022425 -0.556028 -0.333710  1.952216
d  0.135664 -0.660024  0.564369 -0.735743
e -1.187359 -0.649201  0.162894 -1.209570

In [73]:
df2

        one       two     three      four
a  1.723043  0.938673 -1.821314  0.124747
b -2.282399  0.177512  1.134029 -0.820014
c  1.031904  2.255170 -0.067205  0.092019
d -0.154325 -0.372249  1.268014  3.462210

In [81]:
df1.corrwith(df2)
df2.corrwith(df1, axis=1)

a   -0.931294
b   -0.361504
c   -0.525883
d   -0.262379
e         NaN
dtype: float64

In [100]:
df = pd.DataFrame(np.random.np.random.randn(10, 6))
df

          0         1         2         3         4         5
0  1.009383 -0.336106  0.259097 -0.121925 -2.505992  0.419071
1 -0.399444  1.546318  0.261339 -1.258468  0.049760  1.371732
2 -0.709581 -0.183067 -0.573331 -0.684390 -2.198822 -0.942079
3 -0.688746  1.607191 -1.827392  0.726813 -0.009768  0.752652
4  0.283957  1.195666  0.105710  0.188231  1.421634 -1.039410
5 -0.221480  1.021330  0.560043  0.777878 -1.427954 -0.024115
6 -0.769944  0.760070 -2.883561  0.712773  0.146298  0.192916
7 -1.795283 -0.636972  0.642881 -0.282431 -0.936451  1.793845
8 -1.399382 -0.063082 -0.208324 -0.756634 -0.700029  0.731383
9  0.793848 -0.523837  0.229977 -0.082590 -2.542428 -0.542027

In [107]:
df[2]=df[4]

In [108]:
df

          0         1         2         3         4         5
0  1.009383 -0.336106 -2.505992 -0.121925 -2.505992  0.419071
1 -0.399444  1.546318  0.049760 -1.258468  0.049760  1.371732
2 -0.709581 -0.183067 -2.198822 -0.684390 -2.198822 -0.942079
3 -0.688746  1.607191 -0.009768  0.726813 -0.009768  0.752652
4  0.283957  1.195666  1.421634  0.188231  1.421634 -1.039410
5 -0.221480  1.021330 -1.427954  0.777878 -1.427954 -0.024115
6 -0.769944  0.760070  0.146298  0.712773  0.146298  0.192916
7 -1.795283 -0.636972 -0.936451 -0.282431 -0.936451  1.793845
8 -1.399382 -0.063082 -0.700029 -0.756634 -0.700029  0.731383
9  0.793848 -0.523837 -2.542428 -0.082590 -2.542428 -0.542027

In [138]:
s = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
s = s.cumsum()
r = pd.rolling_window(s,7,win_type='')

ValueError: Must specify window type

In [2]:
import numpy as np

In [11]:
np.zeros((4,2,3,6))
np.full((2,3),6)
np.random.random((2,3))

array([[ 0.31340497,  0.5244944 ,  0.87103555],
       [ 0.99628483,  0.15899282,  0.42459352]])

In [12]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

In [15]:
a[:2,:3]

array([[1, 2, 3],
       [5, 6, 7]])

In [18]:
a = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
b = np.array([0, 2, 0, 1])
np.arange(8)

array([0, 1, 2, 3, 4, 5, 6, 7])

In [19]:
a = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
b = np.array([0, 2, 0, 1])
print a[np.arange(4), b]

[ 1  6  7 11]

In [22]:
bool_idx = (a > 2)

In [23]:
bool_idx

array([[False, False,  True],
       [ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]], dtype=bool)

In [24]:
a[a > 2]

array([ 3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [28]:
v = np.array([1, 0, 1])
np.tile(v, (4, 2))

array([[1, 0, 1, 1, 0, 1],
       [1, 0, 1, 1, 0, 1],
       [1, 0, 1, 1, 0, 1],
       [1, 0, 1, 1, 0, 1]])

In [29]:
v = np.array([1,2,3])  # v has shape (3,)
w = np.array([4,5])    # w has shape (2,)

In [33]:
v.shape

(3,)

In [35]:
np.reshape(v, (3, 1))*w

array([[ 4,  5],
       [ 8, 10],
       [12, 15]])

In [1]:
from scipy.misc import imread, imsave, imresize

In [6]:
img = imread('/Users/puneetjindal/Downloads/samples/Images/test/img_1.jpg')

In [9]:
print img.dtype, img.shape

uint8 (480, 640, 3)

In [19]:
img_tinted = img * [1, 0.95, 0.9]

In [20]:
img_tinted = imresize(img_tinted, (300, 300))

In [21]:
imsave('/Users/puneetjindal/Desktop/drive_tinted.jpg', img_tinted)

In [22]:
import numpy as np
from scipy.spatial.distance import pdist, squareform

In [24]:
x= np.array(([0,1],[1,0],[2,0]))

In [25]:
d=squareform(pdist(x,'euclidean'))

In [32]:
import numpy as np
import matplotlib.pyplot as plt

x = np.arange(0, 3 * np.pi, 0.1)
y = np.sin(x)

plt.plot(x, y)
plt.show()

/usr/local/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

In [33]:
x = np.arange(0, 3 * np.pi, 0.1)

In [38]:
x = np.arange(0, 3 * np.pi, 0.1)
y_sin = np.sin(x)
y_cos = np.cos(x)
# Plot the points using matplotlib
plt.plot(x, y_sin)
plt.plot(x, y_cos)
plt.xlabel('x axis label')
plt.ylabel('y axis label')
plt.title('Sine and Cosine')
plt.legend(['Sine', 'Cosine'])
plt.show()

In [47]:
plt.subplot(2, 1, 1)

In [48]:
plt.show()

In [49]:
plt.subplot(1, 2, 1)
plt.imshow(img)

In [50]:
plt.subplot(1, 2, 2)

In [1]:
def quicksort(arr):
    if len(arr) <= 1:
        return arr
    pivot = arr[len(arr) / 2]
    left = [x for x in arr if x < pivot]
    right = [x for x in arr if x > pivot]
    middle = [x for x in arr if x==pivot]
    return quicksort(left) + middle + quicksort(right)

In [2]:
s= "hello"

In [3]:
s.capitalize()

'Hello'

In [4]:
s.rjust(8)

'   hello'

In [6]:
s.ljust(9).strip()

'hello'

In [7]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print idx, animal

0 cat
1 dog
2 monkey

In [8]:
class Greeter(object):
    # Constructor
    def __init__(self, name):
        self.name = name  # Create an instance variable
        
    def greet(self, loud=False):
        if loud:
            print "hello"+ self.name.upper()
        else:
            print "hello" + self.name

g = Greeter('Fred')
g.greet()
g.greet(True)

helloFred
helloFRED

In [9]:
import numpy as np

In [16]:
np.arange(6).reshape(6,1)

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5]])