In [28]:
import pandas as pd
import os

In [297]:
path = 'lb/'
files_xls = os.listdir(path)
df_list = []
dateparse = lambda x: pd.datetime.strptime(x, '%d/%m/%Y')

for f in files_xls: 
    df_list.append(pd.read_excel("{}{}".format(path,f),converters={'Arrival': str},
                                 parse_dates=False))
final_df = pd.concat(df_list)
final_df = final_df.drop_duplicates()
from datetime import datetime
final_df.loc[final_df['Arrival'].str.len()==19,'Arrival'] = final_df.loc[final_df['Arrival'].str.len()==19,'Arrival'].apply(
    lambda x: datetime.strptime(x, '%Y-%d-%m %H:%M:%S'))
final_df.loc[final_df['Arrival'].str.len()==8,'Arrival'] = final_df.loc[final_df['Arrival'].str.len()==8,'Arrival'].apply(
    lambda x: datetime.strptime(x, '%d/%m/%y'))
final_df['Arrival']= pd.to_datetime(final_df['Arrival'])

final_df = final_df.drop(['B.Code','C.Code','Adults','R.Code','R.Type','Resort',
               'S.Code','Currency','R.Amount','ID','E.Date'],axis=1)
final_df.loc[final_df['Mkt'].isnull(),'Mkt'] = 'BAR'
final_df['Departure'] = final_df['Arrival'] + final_df['Nts'].apply(lambda x: pd.Timedelta(x, unit='d'))

final_df['date_range'] = final_df.apply(lambda row: ','.join([str(row['Arrival']+pd.Timedelta(int(x), unit='d')) for x in range(0,row['Nts'])]),axis =1)
final_df = final_df.reset_index()
final_df.drop('index',inplace=True,axis=1)
final_df = final_df.reset_index()
b = pd.DataFrame(final_df.date_range.str.split(',').tolist(), index=final_df.index).stack()
b = b.reset_index()[['level_0', 0]] # var1 variable is currently labeled 0
b.columns = ['index1', 'checkin'] # renaming var1
b['checkin'] = pd.to_datetime(b['checkin'])
b['checkout'] = b['checkin'] + pd.Timedelta(1, unit='d')
final_df = pd.merge(final_df,b,how='inner',right_on='index1',left_index=True).loc[:,['Book Date','checkin','checkout','Rooms','Mkt','Status']]
final_df.head()

             Book Date    checkin   checkout  Rooms  Mkt      Status
0  2016-01-07 00:00:00 2017-03-09 2017-03-10      1  BAR  CHECKED IN
1  2016-01-07 00:00:00 2017-03-10 2017-03-11      1  BAR  CHECKED IN
2  2016-01-07 00:00:00 2017-03-11 2017-03-12      1  BAR  CHECKED IN
3  2016-01-07 00:00:00 2017-03-12 2017-03-13      1  BAR  CHECKED IN
4  2016-01-07 00:00:00 2017-03-13 2017-03-14      1  BAR  CHECKED IN

In [304]:
segment_mapping = pd.read_excel('lb_segment_mapping.xlsx')
final_df = pd.merge(final_df,segment_mapping,on='Mkt',how='inner')

In [306]:
import numpy as np
final_df.groupby(['name','checkin','Status']).agg({'Rooms':np.sum})

                                    Rooms
name         checkin    Status
Bar          2017-03-08 CHECKED IN      5
                        DUE OUT         3
             2017-03-09 CHECKED IN     47
                        DUE IN         53
                        DUE OUT         9
             2017-03-10 CHECKED IN     36
                        DUE IN         50
                        DUE OUT         3
                        RESERVED      115
             2017-03-11 CHECKED IN     29
                        DUE IN         34
                        DUE OUT         1
                        RESERVED      166
             2017-03-12 CHECKED IN     18
                        DUE IN         13
                        DUE OUT         1
                        RESERVED      285
             2017-03-13 CHECKED IN      9
                        DUE IN         11
                        RESERVED      373
             2017-03-14 CHECKED IN      4
                        DUE IN          6
                        RESERVED      462
             2017-03-15 CHECKED IN      4
                        DUE IN          5
                        RESERVED      462
             2017-03-16 DUE IN          3
                        RESERVED      478
             2017-03-17 DUE IN          3
                        RESERVED      413
...                                   ...
Travel Agent 2017-12-07 RESERVED        2
             2017-12-08 RESERVED        2
             2017-12-09 RESERVED        2
             2017-12-10 RESERVED        2
             2017-12-22 RESERVED        2
             2017-12-25 RESERVED        4
             2017-12-26 RESERVED        4
             2017-12-27 RESERVED        4
             2017-12-28 RESERVED        2
             2017-12-29 RESERVED        4
             2017-12-30 RESERVED        4
             2017-12-31 RESERVED        2
             2018-01-01 RESERVED        2
             2018-01-02 RESERVED        2
             2018-01-03 RESERVED        4
             2018-01-04 RESERVED        2
             2018-01-05 RESERVED        2
             2018-01-06 RESERVED        1
             2018-01-07 RESERVED        1
             2018-01-08 RESERVED        3
             2018-01-09 RESERVED        2
             2018-01-11 RESERVED        2
             2018-01-12 RESERVED        2
             2018-01-16 RESERVED        1
             2018-01-17 RESERVED        1
             2018-01-18 RESERVED        1
             2018-02-02 RESERVED        2
             2018-02-03 RESERVED        2
             2018-02-04 RESERVED        2
             2018-02-05 RESERVED        2

[1238 rows x 1 columns]

In [309]:
pd.unique(final_df['Book Date'])

array([datetime.datetime(2016, 1, 7, 0, 0),
       datetime.datetime(2016, 2, 8, 0, 0),
       datetime.datetime(2016, 12, 10, 0, 0),
       datetime.datetime(2016, 11, 11, 0, 0),
       datetime.datetime(2016, 11, 22, 0, 0),
       datetime.datetime(2017, 1, 17, 0, 0),
       datetime.datetime(2017, 1, 20, 0, 0),
       datetime.datetime(2017, 1, 24, 0, 0),
       datetime.datetime(2017, 1, 25, 0, 0),
       datetime.datetime(2017, 1, 28, 0, 0),
       datetime.datetime(2017, 3, 2, 0, 0),
       datetime.datetime(2017, 7, 2, 0, 0),
       datetime.datetime(2017, 10, 2, 0, 0),
       datetime.datetime(2017, 11, 2, 0, 0),
       datetime.datetime(2017, 12, 2, 0, 0),
       datetime.datetime(2017, 2, 15, 0, 0),
       datetime.datetime(2017, 2, 17, 0, 0),
       datetime.datetime(2017, 2, 20, 0, 0),
       datetime.datetime(2017, 2, 21, 0, 0),
       datetime.datetime(2017, 2, 22, 0, 0),
       datetime.datetime(2017, 2, 24, 0, 0),
       datetime.datetime(2017, 2, 25, 0, 0),
       datetime.datetime(2017, 2, 26, 0, 0),
       datetime.datetime(2017, 2, 27, 0, 0),
       datetime.datetime(2017, 1, 3, 0, 0),
       datetime.datetime(2017, 2, 3, 0, 0),
       datetime.datetime(2017, 3, 3, 0, 0),
       datetime.datetime(2017, 4, 3, 0, 0),
       datetime.datetime(2017, 5, 3, 0, 0),
       datetime.datetime(2017, 6, 3, 0, 0),
       datetime.datetime(2017, 7, 3, 0, 0),
       datetime.datetime(2017, 8, 3, 0, 0),
       datetime.datetime(2017, 9, 3, 0, 0), u'19/03/16', u'15/04/16',
       u'20/04/16', u'21/04/16', u'24/04/16',
       datetime.datetime(2016, 5, 5, 0, 0),
       datetime.datetime(2016, 12, 5, 0, 0), u'13/05/16', u'16/05/16',
       u'17/05/16', u'22/05/16', u'23/05/16', u'29/05/16', u'31/05/16',
       datetime.datetime(2016, 3, 6, 0, 0),
       datetime.datetime(2016, 6, 6, 0, 0),
       datetime.datetime(2016, 10, 6, 0, 0),
       datetime.datetime(2016, 11, 6, 0, 0), u'18/06/16', u'19/06/16',
       u'20/06/16', u'21/06/16', u'22/06/16', u'24/06/16', u'28/06/16',
       u'30/06/16', datetime.datetime(2016, 3, 7, 0, 0),
       datetime.datetime(2016, 5, 7, 0, 0),
       datetime.datetime(2016, 6, 7, 0, 0),
       datetime.datetime(2016, 9, 7, 0, 0), u'14/07/16', u'16/07/16',
       u'17/07/16', u'18/07/16', u'20/07/16', u'21/07/16', u'22/07/16',
       u'23/07/16', u'24/07/16', u'27/07/16', u'28/07/16', u'29/07/16',
       u'31/07/16', datetime.datetime(2016, 5, 8, 0, 0),
       datetime.datetime(2016, 7, 8, 0, 0),
       datetime.datetime(2016, 8, 8, 0, 0),
       datetime.datetime(2016, 9, 8, 0, 0),
       datetime.datetime(2016, 10, 8, 0, 0),
       datetime.datetime(2016, 11, 8, 0, 0),
       datetime.datetime(2016, 12, 8, 0, 0), u'14/08/16', u'15/08/16',
       u'17/08/16', u'22/08/16', u'23/08/16', u'27/08/16', u'28/08/16',
       u'29/08/16', u'30/08/16', u'31/08/16',
       datetime.datetime(2016, 1, 9, 0, 0),
       datetime.datetime(2016, 2, 9, 0, 0),
       datetime.datetime(2016, 3, 9, 0, 0),
       datetime.datetime(2016, 5, 9, 0, 0),
       datetime.datetime(2016, 7, 9, 0, 0),
       datetime.datetime(2016, 9, 9, 0, 0),
       datetime.datetime(2016, 10, 9, 0, 0),
       datetime.datetime(2016, 12, 9, 0, 0), u'13/09/16', u'14/09/16',
       u'15/09/16', u'16/09/16', u'17/09/16', u'20/09/16', u'21/09/16',
       u'22/09/16', u'23/09/16', u'24/09/16', u'26/09/16', u'27/09/16',
       u'29/09/16', u'30/09/16', datetime.datetime(2016, 1, 10, 0, 0),
       datetime.datetime(2016, 2, 10, 0, 0),
       datetime.datetime(2016, 3, 10, 0, 0),
       datetime.datetime(2016, 6, 10, 0, 0),
       datetime.datetime(2016, 8, 10, 0, 0),
       datetime.datetime(2016, 9, 10, 0, 0),
       datetime.datetime(2016, 10, 10, 0, 0),
       datetime.datetime(2016, 11, 10, 0, 0), u'14/10/16', u'15/10/16',
       u'16/10/16', u'17/10/16', u'18/10/16', u'19/10/16', u'20/10/16',
       u'21/10/16', u'22/10/16', u'23/10/16', u'25/10/16', u'27/10/16',
       u'28/10/16', u'29/10/16', u'30/10/16', u'31/10/16',
       datetime.datetime(2016, 1, 11, 0, 0),
       datetime.datetime(2016, 2, 11, 0, 0),
       datetime.datetime(2016, 3, 11, 0, 0),
       datetime.datetime(2016, 4, 11, 0, 0),
       datetime.datetime(2016, 6, 11, 0, 0),
       datetime.datetime(2016, 7, 11, 0, 0),
       datetime.datetime(2016, 8, 11, 0, 0),
       datetime.datetime(2016, 9, 11, 0, 0),
       datetime.datetime(2016, 10, 11, 0, 0),
       datetime.datetime(2016, 12, 11, 0, 0), u'13/11/16', u'14/11/16',
       u'16/11/16', u'17/11/16', u'18/11/16', u'19/11/16', u'21/11/16',
       u'22/11/16', u'23/11/16', u'24/11/16', u'25/11/16', u'27/11/16',
       u'28/11/16', u'29/11/16', u'30/11/16',
       datetime.datetime(2016, 1, 12, 0, 0),
       datetime.datetime(2016, 2, 12, 0, 0),
       datetime.datetime(2016, 3, 12, 0, 0),
       datetime.datetime(2016, 4, 12, 0, 0),
       datetime.datetime(2016, 5, 12, 0, 0),
       datetime.datetime(2016, 6, 12, 0, 0),
       datetime.datetime(2016, 7, 12, 0, 0),
       datetime.datetime(2016, 8, 12, 0, 0),
       datetime.datetime(2016, 9, 12, 0, 0),
       datetime.datetime(2016, 10, 12, 0, 0),
       datetime.datetime(2016, 11, 12, 0, 0),
       datetime.datetime(2016, 12, 12, 0, 0), u'13/12/16', u'14/12/16',
       u'15/12/16', u'16/12/16', u'17/12/16', u'18/12/16', u'19/12/16',
       u'20/12/16', u'21/12/16', u'22/12/16', u'23/12/16', u'24/12/16',
       u'25/12/16', u'26/12/16', u'27/12/16', u'28/12/16', u'29/12/16',
       u'30/12/16', u'31/12/16', datetime.datetime(2017, 1, 1, 0, 0),
       datetime.datetime(2017, 2, 1, 0, 0),
       datetime.datetime(2017, 3, 1, 0, 0),
       datetime.datetime(2017, 4, 1, 0, 0),
       datetime.datetime(2017, 5, 1, 0, 0),
       datetime.datetime(2017, 6, 1, 0, 0),
       datetime.datetime(2017, 7, 1, 0, 0),
       datetime.datetime(2017, 8, 1, 0, 0),
       datetime.datetime(2017, 9, 1, 0, 0),
       datetime.datetime(2017, 10, 1, 0, 0),
       datetime.datetime(2017, 11, 1, 0, 0),
       datetime.datetime(2017, 12, 1, 0, 0), u'13/01/17', u'14/01/17',
       u'15/01/17', u'16/01/17', u'17/01/17', u'18/01/17', u'19/01/17',
       u'20/01/17', u'21/01/17', u'22/01/17', u'23/01/17', u'24/01/17',
       u'25/01/17', u'26/01/17', u'27/01/17', u'28/01/17', u'29/01/17',
       u'30/01/17', u'31/01/17', datetime.datetime(2017, 1, 2, 0, 0),
       datetime.datetime(2017, 2, 2, 0, 0),
       datetime.datetime(2017, 4, 2, 0, 0),
       datetime.datetime(2017, 5, 2, 0, 0),
       datetime.datetime(2017, 6, 2, 0, 0),
       datetime.datetime(2017, 8, 2, 0, 0),
       datetime.datetime(2017, 9, 2, 0, 0), u'13/02/17', u'14/02/17',
       u'15/02/17', u'16/02/17', u'17/02/17', u'18/02/17', u'19/02/17',
       u'20/02/17', u'21/02/17', u'22/02/17', u'23/02/17', u'24/02/17',
       u'25/02/17', u'26/02/17', u'27/02/17', u'28/02/17',
       datetime.datetime(2017, 2, 14, 0, 0),
       datetime.datetime(2017, 10, 3, 0, 0)], dtype=object)